:global {
  html,
  body {
    height: 100vh;
  }

  body {
    background-color: #f6f6f6;
    padding: 10px 10px;
    font: 400 14px 'Roboto', sans-serif;
  }

  tr {
    border: 1px solid var(--table-border-color);
  }

  td,
  th {
    text-align: center;
  }
}
