:global {
  :root {
    --primary-heading-color: #9e2852;
    --primart-text-color: #5e6369;
    --sub-text-color: #b6afb6;
    --table-border-color: #dfdfdf;
    --bg-color: #f6f6f6;
    --total-row-bg: #fef7ec;
    --row-selected: #f6f6f6;
    --row-unselected: #fff;
  }
}
